*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



h1{
    letter-spacing: 5px;
}

.logos {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

.taskContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
    
}
.task{
    background-color: rgb(95, 132, 168);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100 , 0.5);
    margin: 15px;
    padding: 20px;
    text-align: center;
    
}

.task h1 {
    margin-top: 20px;
    font-size: 4.5rem;

}
.task h2{
    background-color: white;
    font-size: 3rem;

}
.task p{
    font-size: 2rem;
}
.task h3{
        font-size: 1.5rem;
}